{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="">Bienvenue sur notre site de l'université</h1>
    
    {% if app.user %}
        <a class="" href="{{ path('app_logout') }}">Se déconnecter</a> 
    {% else %}
        <p class="mt-5">Veuillez vous connecter ou créer votre compte afin d'accéder à nos services !</p>

        <a class="" href="{{ path('app_register') }}">S'inscrire</a> <br>
        <a class="" href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}    

</div
{% endblock %}

